# Crawling/Google Crawling/Google Player Image Data/ 디렉토리 내의 모든 폴더를 무시
Crawling/Google Crawling/Google Player Image Data/*/

# PreciousAchiuwa 폴더는 무시하지 않음
!Crawling/Google Crawling/Google Player Image Data/PreciousAchiuwa/

Crawling/Google Crawling/Augmentation Image/

# Crawling/Google Crawling/Clustered Image/ 디렉토리 내의 모든 폴더를 무시
Crawling/Google Crawling/Clustered Image/*/

# Precious Achiuwa 폴더는 무시하지 않음
!Crawling/Google Crawling/Clustered Image/Precious Achiuwa/

# Crawling/NBA Crawling/Player Standard Data/ 디렉토리 내의 모든 파일을 무시
Crawling/NBA Crawling/Player Standard Data/*

# Precious Achiuwa_std.jpg 파일은 무시하지 않음
!Crawling/NBA Crawling/Player Standard Data/Precious Achiuwa_std.jpg

#인스타그램 이미지 데이터
Crawling/Instagram Crawling/Player Image Data/

#NBA 영상 데이터
Crawling/Video Crawling/NBA Videos/