# Crawling/Google Crawling/Google Player Image Data/ 디렉토리 내의 모든 폴더를 무시
Crawling/Google Crawling/Google Player Image Data/*/

# PreciousAchiuwa 폴더는 무시하지 않음
!Crawling/Google Crawling/Google Player Image Data/PreciousAchiuwa/

#군집화 이미지
Crawling/Google Crawling/Clustered Image/

#NBA standard 이미지 데이터
Crawling/NBA Crawling/Player Standard Data/

#인스타그램 이미지 데이터
Crawling/Instagram Crawling/Player Image Data/

#NBA 영상 데이터
Crawling/Video Crawling/NBA Videos/