# 구글 크롤링 이미지 데이터
Crawling/Google Crawling/Google Player Image Data/

#군집화 이미지
Crawling/Google Crawling/Clustered Image/

#NBA standard 이미지 데이터
Crawling/NBA Crawling/Player Standard Data/

#인스타그램 이미지 데이터
Crawling/Instagram Crawling/Player Image Data/

#NBA 영상 데이터
Crawling/Video Crawling/NBA Videos/